# Ignore all by default
*

# Add .gitignore
!.gitignore

# Add zsh files
!.zshrc
!.zprofile

# Add bash files
!.bash_logout
!.bash_profile
!.bashrc

# Add config files
!.config
!.config/**

# Add packages directory
!.packages
!.packages/**

# Add fonts directory
!.local/share/fonts/ttf/caskaydia
!.local/share/fonts/ttf/caskaydia/**
