# Ignore all by default
*

# Add .gitignore
!.gitignore

# Add zsh files
!.zshrc
!.zprofile

# Add bash files
!.bash_logout
!.bash_profile
!.bashrc

# Add config files
!.config
!.config/**

.config/github-copilot/
.config/dconf/
.config/go/
.config/mozilla/
.config/pulse/
.config/Docker\ Desktop/
.config/QtProject.conf
.config/htop/
.config/libfm/
.config/okularpartrc
.config/okularrc
.config/Arduino IDE/
.config/arduino-ide/
.config/chromium/
.config/Discord/
.config/discord/
.config/libreoffice/

# Add packages directory
!.packages
!.packages/**

# Add fonts directory
!.fonts/
!.fonts/**
