configuration {
    modi: "drun,run,filebrowser";
    show-icons: true;
    display-drun: "APPS";
    display-run: "RUN";
    display-filebrowser: "FILES";
    drun-display-format: "{name}";
    font: "CaskaydiaCove Nerd Font 10";
}

@theme "~/.config/rofi/theme.rasi"
