window {
	margin: 0px;
	border: 2px solid #29593a;
	background-color: rgba(20, 20, 20, 0.65);
	border-radius: 10px;
	font-family: "CaskaydiaMono Nerd Font Mono";
	font-size: 16px;
}

#input {
	margin: 8px;
	padding: 10px;
	border: none;
	background-color: rgba(40, 40, 40, 0.6);
	border-radius: 8px;
	color: white;
}

#entry {
	padding: 10px;
	margin: 6px;
	border-radius: 8px;
	background-color: transparent;
	color: white;
}

#entry:selected {
	background-color: rgba(0, 255, 153, 0.3);
}

#entry image {
	margin-right: 10px;
}
